// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$green: #57BC90;
$green-gradient: #68d6a5;
$dark-green: #347474;
$dark-green-gradient: #11998e;
$light-green: #B4DBC0;
$brown: #B56357;



