<div class="tips-dashboard-card">
    <div class="additional">
      <div class="user-card">
        <div class="level center">
          Tip n°2
        </div>
        <div class="points center">
          100 points
        </div>
        <div>
          <img class="item-avatar center"src="https://www.passion-savon.fr/1310-thickbox_default/natural-solid-shampoo.jpg">
        </div>
      </div>
      <div class="more-info">
        <h1>Do your own shampoo</h1>
        <div class="stats">
          <div>
            <div class="title">CO2</div>
            <div class="value">0</div>
          </div>
          <div>
            <div class="title">PLASTIC</div>
            <div class="value">0</div>
          </div>
          <div>
            <div class="title">HEALTHY</div>
            <div class="value infinity">∞</div>
          </div>
        </div>
        <div class="subscription">
          <a class="btn btn-primary white-button" href="#" role="button">Delete</a>
        </div>
      </div>
    </div>
    <div class="general">
      <h1>Do your own shampoo</h1>
      <p>Follow our wonderful recipe to do your own shampoo and start to save plastic and lots of great improvements</p>
      <span class="more">Mouse over the card for more info</span>
    </div>
  </div>
