<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1556815054-cd8e705a758e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
    <div class="container">
      <div class="banner-home-content">
        <h1>Join the monthly challenge</h1>
        <br>
        <h2><span id="hashtag">#</span>Zero plastic</h2>
      </div>
      <a href="#" class="btn btn-primary btn-lg main-button pl-4 pr-4">Join the movement</a>
    </div>
  </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary main-button" data-toggle="modal" data-target="#exampleModal">
Join
</button>


<%= render "shared/login_form" %>




