<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1556815054-cd8e705a758e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
    <div class="container">
      <div class="banner-home-content">
        <h1>Join the monthly challenge</h1>
        <br>
        <h2><span id="hashtag">#</span>Zero plastic</h2>
      </div>
      <a href="#" class="btn btn-primary btn-lg main-button pl-4 pr-4">Join the movement</a>
    </div>
  </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary main-button" data-toggle="modal" data-target="#exampleModal">
Join
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active pl-5 pr-5" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h3>Sign Up</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-5 pr-5" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><h3>Log In</h3></a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary justify-content-center">Save changes</button>
      </div>
    </div>
  </div>
</div>
