<h1>Coucou INDEX</h1>

<html>
  <body onload="cards();">
    <div id="sector">
      <div id="left">
        <h1>Plastic Detox</h1>
        <h3>November 2019</h3>
      </div>
      <div id="right">
      </div>
    </div>
  </body>
</html>
