<h1>Coucou SHOW</h1>
<%= @challenge.title %>
<%= link_to "Lien vers Inscriptions #create", challenge_inscriptions_path(@challenge), method: :post %>
<button type="button" class="btn btn-primary main-button" data-toggle="modal" data-target="#exampleModal">
Join
</button>
<%= render "shared/tips_index", locals: { challenge: @challenge } %>


