// .home-banner {
//   background-image: url('.../assets/images/camera.jpg');
//   background-size: cover;
//   height: 100vh;
//   color: #eee;
//   text-align: center;
//   padding-top: 40vh;
// }

.button-banner-show{
  padding-left: 25%;
}

.banner {
  // background-size: cover;
  // //background-position: center;
  // padding: 150px 0;
  // width: 100%;
  // color: black;
  // margin-top: -80px;
  height: 50vh;
  display: flex;
  .button-challenge-execute {
    visibility: hidden;
  }
  .button-banner {
    position: absolute;
    bottom: 50px;
  }
  .form-banner {
    margin-top: 50px;
  }
}

.banner-home {
  // background-size: cover;
  // //background-position: center;
  // padding: 150px 0;
  // // height: 700px;
  // width: 100%;
  // color: black;
  // margin-top: -80px;
  // display: flex;
  .button-banner {
    position: absolute;
    bottom: 50px;
  }
  .form-banner {
    margin-top: 50px;
  }
}

.banner h1, .banner-home h1{
  color: white;
  font-size: 80px;
  padding-right: 500px;
}

.banner h2, .banner-home h2{
  color: $green !important;
  font-size: 70px;
  margin-top: -60px;
  text-shadow: 1;
  #hashtag {
    font-size: 120px;
    color: $green !important;
    margin-top: 15px;
  }
}

.banner p{
  color: white;
  text-align: right;
  padding-top: 40px;
  font-size: 20px;
}

.banner-show-challenge-content {
  h1{
    font-size: 80px;
  }
}

.banner-index-content{
  h1{
  color: white;
  font-size: 80px;
  padding-right: 500px;
  }
  h2{
  color: $green !important;
  font-size: 50px !important;
  margin-top: -35px;
  text-shadow: 1;
  }
}

.highlight{
  background: linear-gradient(180deg,rgba(255,255,255,0) 59%, $green-gradient 50%);
}

.banner-tips-content{
  h1{
  color: white;
  font-size: 60px;
  padding-right: 500px;
  }
  h2{
  color: $green !important;
  font-size: 50px !important;
  margin-top: -35px;
  text-shadow: 1;
  }
}
