// .home-banner {
//   background-image: url('.../assets/images/camera.jpg');
//   background-size: cover;
//   height: 100vh;
//   color: #eee;
//   text-align: center;
//   padding-top: 40vh;
// }

.banner-home {
  background-size: cover;
  //background-position: center;
  padding: 150px 0;
  height: 700px;
  color: black;
  margin-top: -80px;
  .button-banner-home {
    position: absolute;
    bottom: 50px;
  }
  .form-banner-home {
    margin-top: 50px;
  }
}

.banner-home h1{
  color: white;
  font-size: 80px;
  padding-right: 500px;
}

.banner-home p{
  color: $green;
  font-size: 20px;
  padding-top: -100px;
  #hashtag {
    font-size: 100px;
    color: white;
    margin-top: 15px;
  }
}



.search-block {
  height: 400px;
}

.banner-small {
  height: 300px;
}

.banner-small-content {
  background-size: cover;
  background-position: bottom;
  position: relative;
  height: 100%;
  padding: 57px;
  //background-position: center;
  color: white;
  h1 {
    color: white;
    font-size: 90px;
  }
  .button-banner-small {
    position: absolute;
    bottom: 40px;
  }
  p {
    font-size: 18px;
    margin: 0;
  }
}

.button-banner {
    position: absolute;
    bottom: -105px;
  }

