// For challenges#index cards:
$optionDefaultColours: #ED5565,#FC6E51,#FFCE54,#2ECC71,#5D9CEC,#AC92EC;

.page-prez {
  a {
    color: black;
  }
  a:hover {
    text-decoration: none;
    color: $dark-gray;
  }
}

.options {
  display:flex;
  flex-direction:row;
  align-items:stretch;
  overflow:hidden;
  height:50vh;
  margin:20px;
  @for $i from 1 through 4 {
     @media screen and (max-width:798px - $i*80) {
        min-width:600px - $i*80;
        .option:nth-child(#{6-$i}) {
           display:none;
        }
     }
  img {
    width: 28px;
    }
  }

  .option {
     position: relative;
     overflow:hidden;
     min-width:60px;
     margin:10px;
     background:var(--optionBackground, var(--defaultBackground, #E6E9ED));
     background-size:auto 120%;
     background-position:center;
     cursor: pointer;
     transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
     @for $i from 1 through length($optionDefaultColours) {
        &:nth-child(#{$i}) {
           --defaultBackground:#{nth($optionDefaultColours, $i)};
        }
     }
     &.active {
        flex-grow:10000;
        transform:scale(1);

        max-width:600px;
        margin:0px;
        border-radius:40px;

        background-size:auto 100%;
        .label {
           bottom:20px;
           left:20px;
           .info >div {
              left:0px;
              opacity:1;
           }
        }
     }
     &:not(.active) {
        flex-grow:1;

        border-radius:30px;
        .shadow {
           bottom:-40px;
           box-shadow:inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
        }
        .label {
           bottom:10px;
           left:10px;
           .info >div {
              left:20px;
              opacity:0;
           }
        }
     }

     .label {
        display:flex;
        position: absolute;
        right:0px;

        height:40px;
        transition:.1s cubic-bezier(0.05, 0.61, 0.41, 0.95);
        .icon {
           display:flex;
           flex-direction:row;
           justify-content:center;
           align-items:center;

           min-width:40px;
           max-width:40px;
           height:40px;
           border-radius:100%;

           background-color:white;
           color:var(--defaultBackground);
        }
        .info {
           display:flex;
           flex-direction:column;
           justify-content:center;

           margin-left:10px;

           color:white;

           white-space: pre;
           >div {
              position: relative;

              transition:.1s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
           }
           .main {
              font-weight: normal;
              font-size:1.2rem;
           }
        }
     }
      .label:hover {
        .main {
          font-weight: bolder;
        }
        .sub {
          font-weight: bolder;
        }
        .icon {
          box-shadow: 2px 3px $dark-gray;
        }
      }
    .text {
    font-weight:500;
    color: white;
    margin-top: 200px;
    margin-left: 100px;
    }
  }
}
// end

// For daily_surveys cards:

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding-right: 0px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

  .survey-text {
  display: none;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 45px;
  height: 50px;
}

.card-trip-image {
  height: 300px;
  background-size: cover !important;
  transition: 0.5s;
  border-radius: 5px;
}

.card-trip:hover {
  background-color: white;
  color: black;
  .card-trip-image {
    height: 0px;
  }
  .card-trip-infos {
    margin-top: 16px;
  }
  .avatar-bordered {
    margin-top: -8px;
  }
  .survey-text {
  display: block !important
;
  }
}

// end

// For Dashboard profil infos card:

.list-group-item {
  border: none;
}

.dashboard-profil-card {
  // box-shadow: 5px 7px 6px #e6e5e5;
  border: none;
  height: 100vh;
}


// For Dashboard challenge card

.card-challenge-dashboard {
    box-shadow: 5px 7px 6px #e6e5e5;
    height: 230px;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    .card-challenge-dashboard-img {
      img {
        width: 100%;
        height: 100%;
      }
    }
    .card-challenge-dashboard-button {
      flex-direction: column-reverse;
      display: flex;
      align-items: flex-end;
    }
}

// For Challenge show:

.bloc-section-right{
  display: flex;
  margin-bottom: 30px;
}

.bloc-section-right-photo{
  width: 450px;
  position: relative;
  img{
    width: 400px;
    height: 300px;
    box-shadow: 1px 2px 9px #aba9a9;;
    object-fit: cover;
    object-position: center;
  }
}

.bloc-section-right-content{
   .description{
  padding-right: 300px;
  padding-top: 110px;
  padding-left: 20px;
    }
    .title{
      position: absolute;
      left: 390px;
      padding-bottom: 20px;
      h1{
        font-size: 90px;
        color: $green;
        // text-shadow: 1px 1px 2px grey;
      }
    }
}


.bloc-section-left{
  display: flex;
  margin-bottom: 30px;
  text-align: left;
}

.bloc-section-left-photo{
  width: 450px;
  img{
    width: 400px;
    height: 300px;
    box-shadow: 1px 2px 9px #aba9a9;;
    object-fit: cover;
    object-position: center;
  }
}

.bloc-section-left-content{
  .description{
  padding-left: 300px;
  padding-top: 110px;
  padding-right: 20px;
    }
    .title{
      position: absolute;
      right: 390px;
      padding-bottom: 20px;
      h1{
        font-size: 90px;
        color: $green;
        // text-shadow: 1px 1px 2px grey;
      }
    }
}

.gradient{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}


// For Tips show:
.bloc-section-tips{
  .bloc-section-right{
    display: flex;
    margin-bottom: 30px;
  }

  .bloc-section-right-photo{
    width: 450px;
    position: relative;
    img{
      width: 400px;
      height: 300px;
      box-shadow: 1px 2px 9px #aba9a9;;
      object-fit: cover;
      object-position: center;
    }
  }

  .bloc-section-right-content{
    text-align: left;
     .description{
    padding-right: 300px;
    padding-top: 110px;
    padding-left: 20px;
      }
      .title{
        position: absolute;
        left: 390px;
        padding-bottom: 20px;
        h1{
          font-size: 70px;
          color: $green;
          // text-shadow: 1px 1px 2px grey;
        }
      }
  }


  .bloc-section-left{
    display: flex;
    margin-bottom: 30px;
    text-align: left;
  }

  .bloc-section-left-photo{
    width: 450px;
    img{
      width: 400px;
      height: 300px;
      box-shadow: 1px 2px 9px #aba9a9;;
      object-fit: cover;
      object-position: center;
    }
  }

  .bloc-section-left-content{
    .description{
    padding-left: 300px;
    padding-top: 110px;
    padding-right: 20px;
      }
      .title{
        position: absolute;
        right: 390px;
        padding-bottom: 20px;
        h1{
          font-size: 70px;
          color: $green;
          // text-shadow: 1px 1px 2px grey;
        }
      }
  }
}


.gradient{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}

