.dashboard-profil-card {
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to right,$dark-green, $dark-green-gradient);
  color: white;
  #border-dashboard {
    border-bottom: 1px solid #91d6bc;
  }
}

.dashboard-profil-content {
  position: relative;
  // height: 100vh;
  .btn-challenge {
    position: absolute;
    bottom: 10px;
  }
  .card-challenge-dashboard-infos-description {
    h4 {
      color: $dark-green-gradient;
    }
  }
  .nav-tabs {
    border-radius: 10px;
    box-shadow: 2px 4px 15px #efebeb;
  }
  .nav-tabs .nav-link.active {
    border-bottom: none;
  }
  .nav-link.active {
    .h3-border-bottom {
      border-bottom: 6px solid $green;
    }
  }
  .tab-content {
    height: 100vh;
    overflow: scroll;
    .tab-pane {
      border-radius: 10px;
    }
  }
  .tips-card {
    .general {
      // padding: 4vh;
    }
    .additional {
      // width: 60%;
      // padding: 4vh;
      .user-card {
        // width: 30%;
      }
      .more-info {
        // width: 70%;
        .btn {
          position: initial;
        }
      }
    }
  }
}

#tips {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.join-button{
  padding-top: 20px;
  padding-left: 1005px;
}
