.body {
  background-color: $light-gray;
}

.forms {
  border: 5px solid $brown;
  h1 {
    color: $brown;
  }
}

.line-form {
  border-bottom: 8px solid $brown;
  width: 80px;
  margin: 0;
}

.form-control {
  border: none;
  border-bottom: 2px solid $brown;
}

.form-control:focus{
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 1px solid $light-green;
}

.upload-photo {
  background: linear-gradient(to right, $green, $green-gradient);
  border-radius: 25px;
  color: white;
  border: none;
  padding: 10px;
  &:hover{
    background: transparent;
    color: $green;
    border: 1px solid $green;
  }
}
