.body {
  background-color: $light-grey;
}

.forms {
  border: 5px solid $orange;
  h1 {
    color: $orange;
  }
}

.line-form {
  border-bottom: 8px solid $orange;
  width: 80px;
  margin: 0;
}

.form-control {
  border: none;
  border-bottom: 2px solid $orange;
}

.form-control:focus{
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 1px solid $blue-water;
}
