.tips-index{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  padding-bottom: 40px;
}

.iframe{
  padding-left: 100px;
}

.tips-title{
  h1{
    // padding-left: 200px;
    text-align: left;
  }
  strong{
  background-color: $green;
  color: white;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.tips-card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.tips-card h1 {
  padding-top: 15px;
  text-align: center;
  font-size: 25px;
}

.tips-card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.tips-card .additional {
  background: linear-gradient(to right, #347474, #11998e);
}


.tips-card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.tips-card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.tips-card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.tips-card .additional .user-card .level,
.tips-card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.tips-card .additional .user-card .points {
  top: 85%;
}

.tips-card .additional .user-card svg {
  top: 50%;
}

.tips-card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
  h1:hover {
    text-decoration: none !important;
  }
}

.tips-card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.tips-card .additional .more-info h1 {
  color: white;
  text-decoration: none !important;
}

.tips-card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.tips-card .additional .coords {
  color: #325C46;
}

.tips-card .additional .coords span + span {
  float: right;
}

.tips-card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: white;
}

.tips-card .additional .stats {
  color: white;
  margin-bottom: 100px;
}

.tips-card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.tips-card .additional .stats i {
  display: block;
}

.tips-card .additional .stats div.title {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.tips-card .additional .stats div.value {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.tips-card .additional .stats div.value.infinity {
  font-size: 1rem;
}

.tips-card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
  text-decoration: none;
}

.tips-card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.item-avatar {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.general p{
  margin-top: 30px;
}

.subscription{
  margin-top: 150px;
  text-align: center;
}

// Tips cards on dashboard

.tips-dashboard-index{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
}

.tips-dashboard-title{
  h1{
    // padding-left: 200px;
    text-align: left;
  }
  strong{
  background-color: $green;
  color: white;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.tips-dashboard-card {
  width: 400px;
  height: 200px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.tips-dashboard-card h1 {
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}

.tips-dashboard-card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.tips-dashboard-card .additional {
  background: linear-gradient(to right, #347474, #11998e);
}


.tips-dashboard-card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.tips-dashboard-card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.tips-dashboard-card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.tips-dashboard-card .additional .user-card .level,
.tips-dashboard-card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.tips-dashboard-card .additional .user-card .points {
  top: 85%;
}

.tips-dashboard-card .additional .user-card svg {
  top: 50%;
}

.tips-dashboard-card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
  text-align: center;
}

.tips-dashboard-card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.tips-dashboard-card .additional .more-info h1 {
  color: white;
  padding-right: 40px;
}

.tips-dashboard-card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.tips-dashboard-card .additional .coords {
  color: #325C46;
}

.tips-dashboard-card .additional .coords span + span {
  float: right;
}

.tips-dashboard-card .additional .stats {
  font-size: 1rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: white;
}

.tips-dashboard-card .additional .stats {
  color: white;
  margin-bottom: 70px;
  padding-right: 50px;
}

.tips-dashboard-card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.tips-dashboard-card .additional .stats i {
  display: block;
}

.tips-dashboard-card .additional .stats div.title {
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
}

.tips-dashboard-card .additional .stats div.value {
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1rem;
}

.tips-dashboard-card .additional .stats div.value.infinity {
  font-size: 0.7rem;
}

.tips-dashboard-card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.tips-dashboard-card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.tips-dashboard-card .item-avatar {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

.tips-dashboard-card .general {
  text-align: center;
  padding-left: 60px;
}

.tips-dashboard-card .general .more {
  font-size: 12px;
  text-align: center;
  padding-right: 20px;
}

.tips-dashboard-card .general p{
  margin-top: 50px;
  font-size: 12px;
  text-align: center;
}

.tips-dashboard-card .subscription{
  margin-top: 110px;
  text-align: center;
  padding-right: 50px;
}

.tips-header-description {
  padding-right: 100px;
  padding-top: 50px;
}


// .circle-avatar {
//   width:100%;
//   display:flex;
//   justify-content: center;
//   padding-top:100%;
//   border-radius: 50%;
//   background-position-y: center;
//   background-position-x: center;
//   background-repeat: no-repeat;
// }
