<div id="parallax-world-of-ugg">
  <section>
    <div class="parallax-two" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @tip.avatar %>)">
    <div class="container">
      <div class="banner">
      <div class="banner-index-content">
        <h1><span id="hashtag">#</span><%= @tip.title %></h1>
      </div>
      <div class="banner-show-description">
          <p><%= @tip.description %></p>
      </div>
    </div>
  </div>
  </section>
  </div>
</div>

<div class="container pt-4 mt-4">

  <div class="bloc-section pt-4">
    <div class="bloc-section-right">
      <div class="bloc-section-right-photo">
        <img src="https://images.pexels.com/photos/1141835/pexels-photo-1141835.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="gradient">
      </div>
      <div class="bloc-section-right-content">
        <div class="title">
          <h1 id="impact">#Impact</h1>
        </div>
        <div class="description">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicab.</p>
        </div>
      </div>
    </div>

    <div class="bloc-section-left">
      <div class="bloc-section-left-content text-right">
        <div class="title">
          <h1 id="hope">Hope#</h1>
        </div>
        <div class="description">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicab.</p>
        </div>
      </div>
      <div class="bloc-section-left-photo">
      <img src="https://images.unsplash.com/photo-1470115636492-6d2b56f9146d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
      </div>
    </div>

    <div class="bloc-section-right">
      <div class="bloc-section-right-photo">
      <img src="https://images.unsplash.com/photo-1565885548177-12df13a7e1bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="">
      </div>
      <div class="bloc-section-right-content">
        <div class="title">
          <h1 id="how">#How</h1>
        </div>
        <div class="description">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicab.</p>
        </div>
      </div>
    </div>

  </div>
</div>

